.container {
    position: relative;
    background-color: var(--blue);
    color: var(--white);
    padding: 30px 60px 30px 30px;
    align-items: center;
    border-radius: 8px;
    height: 100%;

    &[class~='female'] {
        background-color: var(--pink);
    }

    &[class~='dimmed'] {
        opacity: 0.2;
    }
}

.name {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.alt_names {
    font-size: 13px;
    margin: 0;
}

.icon {
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 20px;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}
