@use '../../styles/colors' as *;

.container {
    height: 100vh;

    // Edit menu header
    [class~='bft-edit-form-header'] {
        background-color: $light-grey !important;
        height: auto;
        padding: 20px;

        h1 {
            color: $black;
            line-height: 1.5;
        }
    }

    // Edit menu close button
    [class~='bft-edit-form-close'] {
        path {
            fill: $black !important;
        }
    }

    // Edit menu buttons
    [class~='bft-edit-form-instruments'] {
        display: none;
    }

    // Edit menu avatar
    [class~='bft-edit-form-avatar'] {
        display: none;
    }

    // Edit menu form
    [class~='bft-edit-form-fields'] {
        padding-top: 20px;
    }

    // Edit menu form label
    [class~='btr-edit-label'] {
        padding: 0 12px;
        font-family: Helvetica;
        color: $grey;
        font-size: 13px;
    }

    // Edit menu notes list
    [class~='btr-notes-list'] {
        width: 100%;
        font-size: 15px;
        padding: 0 12px 0 28px;
        list-style-type: disc;
    }

    // Edit menu link text
    [class~='btr-link-text'] {
        color: $purple;
        margin-top: 5px;
        font-size: 15px;
        padding: 0 12px 0 28px;
    }

    // Hide node tree button
    g[data-ctrl-up-id] {
        display: none;
    }

    // Node icons
    [class~='btr-node-icon'] {
        font-size: 20px;
        cursor: pointer;
    }
}
