:root {
    // Colors
    --black: #000000;
    --white: #ffffff;
    --grey: #777777;
    --light-grey: #e0e0e0;
    --purple: #3100ff;
    --blue: #6dc2fb;
    --pink: #d1a9f4;

    // Font Weights
    --fw-regular: 400;
    --fw-bold: 700;
}
